pcb_boards/sensor_node/sensor_node-cache.lib
pcb_boards/sensor_node/sensor_node-rescue.lib
pcb_boards/gateway/pcb_gateway-cache.lib
pcb_boards/gateway/pcb_gateway
pcb_boards/sensor_node/sensors_module-rescue.dcm
webserver/_build/
*.sql
!init.sql
webserver/deployment/database/microclimate_measurement_system_database_structure.pdf
webserver/management_interface/static/vendor/
