{% extends 'layout.html' %}
{% block body %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Sensor Module Management</a>
    </li>
    <li class="breadcrumb-item active">Assign unclaimed sensor modules</li>
</ol>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="card">
    <div class="card-header">Assign a sensor to a forest</div>
    <div class="card-body">
        <form action="{{ url_for('assign')}}" method="POST">
            <div class="form-group">
                <label for="sensor_module_select"> Sensor module</label>
                <select class="form-control" required="required" id="sensor_module_select" name="sensor">
                    {% for sensor in unclaimed_sensors %}
                    <option value="{{ sensor.id }}">{{ sensor.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            <div class="form-group">
                <label for="sensor_module_name"> Choose an easy to recognize name for the module</label>
                <input type="text" class="form-control" required="required" id="sensor_module_name" placeholder="Enter friendly name" name="sensor_module_name">
            </div>
            <hr>
            <div class="form-group">
                <label for="location_id">Location</label>
                <select class="form-control" required="required" id="location_id" name="location_id">
                    {% for location in locations %}
                    <option value="{{ location.location_id }}">{{ location.forest_name }} - {{ location.location_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <small id="emailHelp" class="form-text text-muted">
                <small class="fa fa-info-circle"></small> You can define new locations in forests using <a href="{{url_for('add_location')}}">this link</a>.
            </small>
            <hr>
            <input value="Assign" type="submit" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}