{% extends 'layout.html' %}
{% block body %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Forest Management</a>
    </li>
    <li class="breadcrumb-item active"> Forest overview</li>
</ol>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="card">
    <div class="card-header">Forest Management</div>
    <div class="card-body">

        {% for forest in forests %}
        <div class="card">
            <div class="card-header"><i class="fa fa-tree tree"></i> {{forest.name}}</div>
            <ul class="list-group list-group-flush">
                {% for location in locations if location.forest_id == forest.id %}
                <div class="row">
                    <div class="col-sm-8">
                        <li class="list-group-item list-group-item-info"><i class="fa fa-map-marker-alt"></i> <strong>{{ location.location_name }} - ({{location.lat|round(3)}}, {{location.lng|round(3)}})</strong></li>
                        {% for sensor in sensors if sensor.location_id == location.location_id %}
                        <li class="list-group-item">
                            <button class="collapsible">
                                <i class="fa fa-microchip"></i>
                                {{sensor.friendly_name}}
                                <small>({{sensor.name}})</small>
                            </button>

                            <div class="content">
                                <ul>
                                    <li>
                                        <b>Latest Measurements</b>
                                        {% if not sensor.latest_measurements|length %}
                                        <p style="color: #b21f2d;">There are no measurements in the last week! Please check sensor health!</p>
                                        {% endif %}
                                        <div class="row">
                                            {% if sensor.id == 1 %}
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/e6970947-36ec-41f8-acd4-1e8d2d9e505b/sensor-1?orgId=1&theme=light&panelId=2" class="col-sm-12 data-visualization" height="200" frameborder="0" title="Temperatuur"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/e6970947-36ec-41f8-acd4-1e8d2d9e505b/sensor-1?orgId=1&theme=light&panelId=6" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Luchtvochtigheid"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/e6970947-36ec-41f8-acd4-1e8d2d9e505b/sensor-1?orgId=1&theme=light&panelId=4" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Lichtsterkte"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/e6970947-36ec-41f8-acd4-1e8d2d9e505b/sensor-1?orgId=1&theme=light&panelId=3" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Bodemtemperatuur"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/e6970947-36ec-41f8-acd4-1e8d2d9e505b/sensor-1?orgId=1&theme=light&panelId=5" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Bodemvochtigheid"></iframe>
                                            {% elif sensor.id == 2 %}
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/bec8a53c-84bd-4938-927b-1471589373ae/sensor-2?orgId=1&theme=light&panelId=6" class="col-sm-12 data-visualization" height="200" frameborder="0" title="Temperatuur"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/bec8a53c-84bd-4938-927b-1471589373ae/sensor-2?orgId=1&theme=light&panelId=2" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Luchtvochtigheid"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/bec8a53c-84bd-4938-927b-1471589373ae/sensor-2?orgId=1&theme=light&panelId=4" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Lichtsterkte"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/bec8a53c-84bd-4938-927b-1471589373ae/sensor-2?orgId=1&theme=light&panelId=5" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Bodemtemperatuur"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/bec8a53c-84bd-4938-927b-1471589373ae/sensor-2?orgId=1&theme=light&panelId=3" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Bodemvochtigheid"></iframe>
                                            {% elif sensor.id == 3 %}
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/ed7f7b70-792e-483c-9641-36c802e62f38/sensor-3?orgId=1&theme=light&panelId=6" class="col-sm-12 data-visualization" height="200" frameborder="0" title="Temperatuur"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/ed7f7b70-792e-483c-9641-36c802e62f38/sensor-3?orgId=1&theme=light&panelId=2" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Luchtvochtigheid"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/ed7f7b70-792e-483c-9641-36c802e62f38/sensor-3?orgId=1&theme=light&panelId=4" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Lichtsterkte"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/ed7f7b70-792e-483c-9641-36c802e62f38/sensor-3?orgId=1&theme=light&panelId=5" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Bodemtemperatuur"></iframe>
                                            <iframe data-src="https://28.199.9.5.static.mznet.works:3000/d-solo/ed7f7b70-792e-483c-9641-36c802e62f38/sensor-3?orgId=1&theme=light&panelId=3" class="col-sm-6 data-visualization" height="200" frameborder="0" title="Bodemvochtigheid"></iframe>
                                            {% else %}
                                            <p>
                                                <i>Sensor not linked to Grafana.</i>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                    <div class="col-sm-4">
                        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&height=300&q={{ location.lat }},{{ location.lng }}&t=k&z=15&ie=UTF8&iwloc=B&output=embed"></iframe>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

<style>
    .collapsible {
        background-color: #FFFFFF;
        color: black;
        cursor: pointer;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    div > .active, .collapsible:hover {
        background-color: #c4c4c4;
    }

    .collapsible:after {
        content: '\002B';
        color: black;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        /*padding: 0 18px;*/
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #FFFFFF;
    }

    .tree {
        color: #017a00
    }
</style>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            $(content).find("iframe").prop("src", function() {
                return $(this).data("src");
            });
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

<style>
    .data-visualization {
        margin-bottom: 10px;
        background-color: #f4f5f5;
        background-clip: content-box;
    }
</style>

{% endblock %}