{% extends 'layout.html' %}
{% block body %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Location Management</a>
    </li>
    <li class="breadcrumb-item active">Remove Location</li>
</ol>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="card">
    <div class="card-header">Remove a Location</div>
    <div class="card-body">

        <form action="{{url_for('remove_location')}}" method="POST"
              onsubmit="return confirm('Are you sure you want to delete this location? This cannot be undone and it will have to be added again! No measurements will be deleted.')">
            <div class="form-group">
                <label for="location_id">Location</label>
                <select class="form-control" required="required" id="location_id" name="location_id">
                    {% for location in locations %}
                    <option value="{{ location.location_id }}">{{ location.forest_name }} - {{ location.location_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            <input value="Delete Location" type="submit" class="btn btn-primary">
            </form>
    </div>
</div>

{% endblock %}