{% extends 'layout.html' %}

{% block body %}
<!-- Breadcrumbs-->															
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Sensor Management</a>
    </li>
    <li class="breadcrumb-item active"> Sensor overview</li>
</ol>

{% for location in locations %}
<div class="card">
	<div class="card-header">{{location.forest_name}} | {{location.location_name}} </div>
	<ul class="list-group list-group-flush">
		{% for sensor in sensors if sensor.location_id == location.location_id %}
		<li class="list-group-item">
                    {{sensor.friendly_name}}
                    <small>({{sensor.name}})</small>
		</li>			
		{% endfor %}
	</ul>
</div>
{% endfor %}

{% endblock %}